$color-primary: #01a1dd;
$color-primary2: #007dac;

$color-graydark: #222222;
$color-graydark2: #343a40;
$color-gray: #343e48;
$color-graylight: #6c757d;
$color-gray2: #a2a5a9;
$color-gray3: #8c959d;
$color-graylight2: #e2e5e9;
$color-hexgray: #c2c5c9;

$color-white: #ffffff;
$color-offwhite: #f6f6f6;

$color-red: #dd0135;

$color-black: #323f48;

$color-orange: #ffa14d;

$color-darkorange:#f47708;

$color-lightyellow: #faf1df;

$color-green: #68c92d;

